.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Space out content a bit */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	font-style: normal;
	text-rendering: optimizelegibility;
	font-family: $main-font,cursive;
	font-size: $base-font-size;
	letter-spacing:0.5px;
	word-spacing:0.5px;
	overflow-x:hidden;
	color: $font-default-color;

	::selection,::-moz-selection {
		background:rgba(0,0,0,0.05);
		color:inherit;
	}
	a:focus{
		outline: none;
	}
	.nav{
		>li{
			>a{
				border-radius: 0;
				&:hover,&:focus {
					background-color: inherit;
				}
			}
			&.active{
				>a{
					color: $font-default-color;
					background-color: transparent;
					&:hover,&:active,&:focus{
						background-color: transparent;
						color: $font-default-hover-color;
					}
				}
			}
		}
	}
	a{
		color: $font-default-color;
		&:hover,&.active{
			color: $font-default-hover-color;
			text-decoration: none;
		}
	}
	.blink{
		img{
			position: relative;
			opacity: 1;
			transition: opacity 0.25s ease-out 0s;
			&.hover{
				position: absolute;
			}
		}
		&:hover{
			img{
				opacity: 0;
				filter: brightness(3);
				transition: all 0.35s ease-out 0s;
			}
			.hover{
				opacity: 1;
				filter: none;
				transition: opacity 0.35s ease-out 0s;
			}
		}
	}
}

html{
	min-width: 320px;
	.container{
		position: relative;
		min-width: 768px;
		@media screen and (max-width: 768px) {
			min-width: 320px;
		}
	}
	&.desktop.windows{
		// body{
		header nav a .text{
			font-weight: bold;
		}
		#index .wording,
		#register .form-group label
		#award .pane p{			
			font-family: $main-font-fallback;
			font-weight: bold;
		}
		// }
	}
	&:after{
		z-index: 200;
		background: #000;
		width: 100%;
		content: '';
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		height: 0;
		opacity: 0;
		transition: opacity 0.5s ease-out 0s, height 0s linear 0.5s;
	}
	&.loading{
		&:after{
			height: 100%;
			opacity: 1;
		}
	}
	.jspScrollable:focus{
		outline:none;
	}
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.jspDrag{
	cursor: auto;
	background-color: #3ca6bb;
	opacity: 0.85;
	transition: 0.4s opacity ease-out 0s;
	&:hover{
		opacity: inherit;
	}
}
.jspVerticalBar,.jspTrack{
	background-color: #122948;
	width: 5px;
}
// .jspCorner{
// 	display: none;
// }
// .jspHorizontalBar{
// 	display: none;
// }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 769px) {
	.container {
		padding:0;
		max-width: 100%;
		width: 100%;
		min-height: 100vh;
		.page{
			position: relative;
			min-height: 100vh;
			min-width: 768px;
			// max-height: calc(56.25vw - 50px);
		}
	}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 768px) {
	.container {
		padding:0;
		max-width: 100%;
		width: 100%;
		min-height: 100vh;
		.page{
			position: relative;
			min-height: vwsm(960);
			min-width: 100%;
		}
	}
}
