// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

@font-face { 
	font-family: 'msjh-arial'; 
	src:  local("Lantinghei")
		, local('Noto Sans TC')
		, local('微軟正黑體')
		, local("STHeiti")
		, local("メイリオ")
		, local("Meiryo")
		, local("ヒラギノ角ゴ Pro w3")
		, local("Hiragino Kaku Gothic Pro")
		, local("Osaka")
		, local("STXihei")
		, local("HEITI TC")
		, local("黑體-繁")
		, local("黑體");
}
@font-face {
	font-family: 'msjh-arial';
	src: local('Arial')
		, local("Segoe UI")
		, local("Verdana")
		, local("ＭＳ Ｐゴシック")
		, local("MS P Gothic")
		, local("Helvetica Neue")
		, local("Helvetica")
		, local("sans-serif");
	font-weight: normal;
	font-style: normal;
	unicode-range: U+00-024F;
}

$main-font: 'Open Sans','Lantinghei', 'Segoe UI', 'Noto Sans TC', 'microsoft jhenghei';
$main-font-fallback:'Arial', 'Verdana', 'Lantinghei','Noto Sans TC', 'microsoft jhenghei', '微軟正黑體', 'Segoe UI';
$base-font-size: 13px;
$base-font-size-num: 13;
$base-font-size-sm: 10px;

.font-default{
	font-family: $main-font, $main-font-fallback, cursive;
}
.fontsize-reset {
	font-size: $base-font-size;
}

@for $i from 11 to 44 {
	.fontsize-#{$i} {
		font-size: #{$i}px;
	}
	.fontsize-percent-#{$i} {
		font-size: percentage($i/$base-font-size-num);
	}
}

$browser-xs-viewport: 320; // Default
$browser-sm-viewport: 640; // Default
$browser-md-viewport: 1170; // Default
$browser-lg-viewport: 1920; // Default

@function vwsm($pixels, $context: $browser-sm-viewport) {
  @return #{$pixels/$context*100}vw;
}

@function vwxs($pixels, $context: $browser-xs-viewport) {
  @return #{$pixels/$context*100}vw;
}

@function vwmd($pixels, $context: $browser-md-viewport) {
  @return #{$pixels/$context*100}vw;
}
@function vwlg($pixels, $context: $browser-lg-viewport) {
  @return #{$pixels/$context*100}vw;
}
@function vhlg($pixels, $context: 650) {
  @return #{$pixels/$context*100}vh;
}

@mixin linear-gradient($direction, $color-stops) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

$font-default-color: #000b26;
$font-default-hover-color: #333;

@media screen and (max-width: 768px) {
	@for $i from 11 to 44 {
		.fontsize-sm-#{$i} {
			font-size: vwsm($i);
		}
	}
}
@for $i from 0 to 100 {
	@media screen and (min-width: 769px) {
		.w#{$i}-percent{
			width: #{$i+'%'};
		}
	}
	@media screen and (min-width: 769px) {
		.z-#{$i}{
			z-index: #{$i};
			position: relative;
		}
	}
	@media screen and (max-width: 768px) {
		.z-sm-#{$i}{
			z-index: #{$i};
			position: relative;
		}
	}
}
@for $i from 0 to 2000 {

	@media screen and (min-width: 769px) {
		.baseline-pull-#{$i} {
			margin-top: -#{$i}px;
		}
		.baseline-push-#{$i} {
			margin-top: #{$i}px;
		}
		.baseline-shift-#{$i} {
			margin-left: #{$i}px;
		}
		.baseline-deshift-#{$i} {
			margin-left: -#{$i}px;
		}
	}
	@media screen and (max-width: 768px) {
		.baseline-pull-sm-#{$i} {
			margin-top: -#{vwsm($i)};
		}
		.baseline-push-sm-#{$i} {
			margin-top: #{vwsm($i)};
		}
		.baseline-shift-sm-#{$i} {
			margin-left: #{vwsm($i)};
		}
		.baseline-deshift-sm-#{$i} {
			margin-left: -#{vwsm($i)};
		}
	}
	.ls-#{$i} {
		@media screen and (min-width: 769px) {
			letter-spacing: #{$i}px;
		}
	}
	.ws-#{$i} {
		@media screen and (min-width: 769px) {
			word-spacing: #{$i}px;
		}
	}
	.bws-#{$i} {
		@media screen and (min-width: 769px) {
			word-spacing: -#{$i}px;
		}
	}
	.lh-#{$i} {
		@media screen and (min-width: 769px) {
			line-height: #{$i}px;
		}
	}
	// baseline-pull-3 baseline-deshift-22

	// .baseline-pull-vw-#{$i} {
	// 	margin-top: -#{$i}vw;
	// }
	// .baseline-push-vw-#{$i} {
	// 	margin-top: #{$i}vw;
	// }
	// .baseline-shift-vw-#{$i} {
	// 	margin-left: #{$i}vw;
	// }
	// .baseline-deshift-vw-#{$i} {
	// 	margin-left: -#{$i}vw;
	// }

	// .baseline-pull-mvw-#{$i} {
	// 	margin-top: -#{$i*0.1}vw;
	// }
	// .baseline-push-mvw-#{$i} {
	// 	margin-top: #{$i*0.1}vw;
	// }
	// .baseline-shift-mvw-#{$i} {
	// 	margin-left: #{$i*0.1}vw;
	// }
	// .baseline-deshift-mvw-#{$i} {
	// 	margin-left: -#{$i*0.1}vw;
	// }

	// .baseline-pull-mvh-#{$i} {
	// 	margin-top: -#{$i*0.1}vh;
	// }
	// .baseline-push-mvh-#{$i} {
	// 	margin-top: #{$i*0.1}vh;
	// }
	// .baseline-shift-mvh-#{$i} {
	// 	margin-left: #{$i*0.1}vh;
	// }
	// .baseline-deshift-mvh-#{$i} {
	// 	margin-left: -#{$i*0.1}vh;
	// }
}
.block-centralize{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nowrap{
	@media screen and (min-width: 769px) {
		white-space: nowrap;
	}
}

.vertical-top{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: top;
		@media screen and (max-width: 768px) {
			// margin-left: -1em;
		}
	}
	>*{
		display: inline-block;
		vertical-align: top;
	}
}
.vertical-middle{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: middle;
		@media screen and (max-width: 768px) {
			// margin-left: -1em;
		}
	}
	>*{
		display: inline-block;
		vertical-align: middle;
	}
}
.vertical-bottom{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: bottom;
		@media screen and (max-width: 768px) {
			// margin-left: -1em;
		}
	}
	>*{
		display: inline-block;
		vertical-align: bottom;
	}
}

.clear {
  clear: both;
}
@media (min-width: 320px) and (max-width: 768px) {
	.text-left-sm{
		text-align: left;
	}
	.text-center-sm{
		text-align: left;
	}
	.text-right-sm{
		text-align: left;
	}
}
@media screen and (max-width: 320px) {
	.text-left-xs{
		text-align: left;
	}
	.text-center-xs{
		text-align: left;
	}
	.text-right-xs{
		text-align: left;
	}
}
@for $i from 0 to 1200 {
	@media screen and (min-width: 769px) {
		.w-#{$i} {
			width: #{$i}px;
		}
	}

}
