.page#register {	
	@media screen and (max-width: 768px) {
		&.focus{
			background: url(../img/index/house-m.png) center bottom/cover no-repeat fixed;
			input{
				// font-size: 16px;
			}
		}
	}
	.center{
		width:650px;
		margin: 0 auto;
		padding-top:vhlg(86);
		@media screen and (max-width: 768px) {
			padding-top:vwsm(60);
			width: vwsm(608);
			h3{
				img{
					width: 100%;
				}
			}
		}

		form{
			display: block;
			padding: 35px 70px;
			position: relative;
			background: url(../img/register/form-bg.png) center center/ 100% 100%;
			@media screen and (max-width: 768px) {				
				padding: vwsm(55) 0;			
				margin: 0 vwsm(-5);
				background: url(../img/award/bg-m.png) center center/ 100% 100%;
				border: vwsm(5) solid;
				border-image: -moz-linear-gradient(250deg, rgba(78,127,229, 0.45) 0%, rgba(255,255,255, 0.45) 50%, rgba(185,70,244, 0.45) 100%) 10 stretch; /* FF3.6-15 */
				border-image: -webkit-linear-gradient(250deg, rgba(78,127,229, 0.45) 0%,rgba(255,255,255, 0.45) 50%,rgba(185,70,244, 0.45) 100%) 10 stretch; /* Chrome10-25,Safari5.1-6 */
				border-image: linear-gradient(250deg, rgba(78,127,229, 0.45) 0%,rgba(255,255,255, 0.45) 50%,rgba(185,70,244, 0.45) 100%) 10 stretch; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

				@for $i from 1 to 13 {
					.col-sm-#{$i}, .col-xs-#{$i} {
						padding-left: vwsm(6);
						padding-right: vwsm(6);
					}
				}
			}
			label{
				color: #b2ffec;
				padding: 0 5px;
			}
			input{
				border-radius: 18px;
				box-shadow: inset rgba(0, 65, 84,0.75) 1px 1px 4px;
				border: 0;
				@media screen and (max-width: 768px) {
					line-height: 1em;
				}
			}

			.form-group{
				line-height: 30px;
			}
			.term{
				line-height: 20px;
				color: #67f7e6;
				font-weight: 100;
				label{
					cursor: pointer;
					margin:0;
				}

				input{
					display: none;

					&:checked ~ span .checkbox.checked{
						opacity: 1;
						transform: none;
					}
				}
				span{
					padding: 0.5em 0 0 2em;
					position: relative;
					display: inline-block;
					line-height: 1.5em;
				}
				.checkbox{
					position: absolute;
					left:0;
					top:0;
					margin: 0;
					&.checked{
						transition-duration: 0.15s;
						transform-origin: center bottom;
						transform: scale(0.6);
						opacity: 0;
					}
				}
				a,a:hover,a:active,a:focus{
					text-decoration: underline;
					color:inherit;
				}
			}

			.form{
				button{
					overflow: hidden;
					background: none;
					border: none;
					box-shadow: none;
				}
				@media screen and (max-width: 768px) {
					margin: vwsm(20) 0 0 vwsm(10);
					width: vwsm(620 - 20)!important;
					height: auto !important;
					overflow-y: auto;
					overflow-x: hidden;
					.jspPane,.jspContainer{
						width: 100% !important;
						height: auto !important;
						position: relative;
						top: 0 !important;
						left: 0 !important;
					}
					.jspVerticalBar,.jspHorizontalBar{
						display: none;
					}
				}
			}
			.complete{
				// display: none;
				color: #fff;
				position: absolute;
				top:0;
				width: 100%;
				left:0;
				@media screen and (max-width: 768px) {
					// position: relative;
				}

				h5{
					margin:0;
					padding: 75px 0 35px;
					height: auto;
					@media screen and (max-width: 768px) {
						margin: 0;
						padding: vwsm(120) 0 vwsm(30);
					}
				}
				hr{
					background: url(../img/register/hr.png) center/auto 100% no-repeat;
					border:0;
					height: vwsm(1);
				}
				.highlight{
					font-style: italic;
					font-weight: 500;
					color: #b2ffec;
				}
				.share{
					margin: 35px 0;
					display: inline-block;
					position: relative;
					img{
						width: 100%;
					}
					@media screen and (max-width: 768px) {
						margin: vwsm(35) 0;
					}
				}
			}

			button{
				img{
					width: 100%;
				}
			}

		}
		.invoice-container{
			position: relative;
		}
		.add-container{
			padding: 0;
			a{
				vertical-align: middle;
				img{
					vertical-align: middle;
					max-width: 100%;
				}
			}
		}
		.button-group{
			margin: 0;
		}
	}
}

